 This note book takes the raw records from each biome and different vegetation types. These raw records are aggregated by unique longitude and latitude.

In [1]:
# Import the necessary packages
import numpy as np
import pandas as pd

In [119]:
# Import the raw data from a CSV file. 
# Here use the file "grass_flood_raw.csv" as an example.
rsr_raw = pd.read_csv('grass_flood_raw.csv',encoding = 'unicode_escape')

In [120]:
rsr_raw.head()

,Unnamed: 0,system.index,index,latitude,longitude,ratio,.geo
0,1,0000000000000000025d,2329,45.396254,133.257157,4.250000,"{""type"":""Point"",""coordinates"":[133.25715820250..."
1,2,0000000000000000025f,2331,43.728557,131.927111,4.250000,"{""type"":""Point"",""coordinates"":[131.92711091758..."
2,3,0000000000000000025b,2327,48.809597,135.508954,4.250000,"{""type"":""Point"",""coordinates"":[135.50895518438..."
3,4,00000000000000000955,1645,49.092303,130.199800,4.000000,"{""type"":""Point"",""coordinates"":[130.19980231981..."
4,5,00000000000000000083,1855,48.206068,134.961115,0.817073,"{""type"":""Point"",""coordinates"":[134.96111448805..."

In [121]:
# Remove the nonsignificant columns
rsr_agg = rsr_raw.drop(['Unnamed: 0', 'system.index', 'index', '.geo'], axis = 1)

In [122]:
rsr_agg

    latitude   longitude     ratio
0  45.396254  133.257157  4.250000
1  43.728557  131.927111  4.250000
2  48.809597  135.508954  4.250000
3  49.092303  130.199800  4.000000
4  48.206068  134.961115  0.817073

##### Group the dataset by longitude and latitude and take the mean

In [123]:
rsr_aggregated = rsr_agg.groupby(['longitude','latitude']).mean()

In [124]:
rsr_aggregated

                         ratio
longitude  latitude
130.199800 49.092303  4.000000
131.927111 43.728557  4.250000
133.257157 45.396254  4.250000
134.961115 48.206068  0.817073
135.508954 48.809597  4.250000

In [125]:
# Export the result
rsr_aggregated.to_csv('grass_flood_raw_aggregated.csv')